* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .select-container {
    width: 12.5rem;
    color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    font-size: .8rem;
  }
  
  
  
  .selected-box {
    order: 0;
    display: flex;
    padding: 15px;
    margin-bottom: 2px;
    background-color: hsl(209, 23%, 22%);
    border-radius: 3px;
    justify-content: space-between;
  }
  
  
  
  .option-container{
      background-color: hsl(209, 23%, 22%);
    border-radius: 3px;
    overflow: hidden;
    transition: all 0.4s;
    max-height: 0;
    opacity: 0;
    order: 2
  }
  
  .option-container.active {
    max-height: 240px;
    opacity: 1;
  /*   overflow-y: scroll; */
  }
  
  .option-container.active +  .selected-box .arrow-icon {
    transform: rotateX(180deg);
    
  }
  
  .option {
     padding: 10px;
  }
  
  .option:hover {
    background-color: hsl(207, 26%, 17%);
  }
  
  .option, 
  .selected, 
  label, 
  .selected-box {
    cursor: pointer;
  }
  
  .region-radio {
    display: none;
  }
  
  
  
  