.container {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.container__input {
  border-color: transparent;
  flex: 1;
}

.container__input[placeholder] {
  margin-left: 10px;
}
